@import url(https://db.onlinewebfonts.com/c/77d394fa0c1103c648f880b77cb4a32f?family=Futura+LT+W01+Medium);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: rgb(36, 49, 97);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 11rem;
}

.likes{
    background-image: url(./img/URBANIZACION_GRUPO_MACRO_GALERY_3\ \(1\).jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 200px 0;
}

.likes-gruop{
    display: flex;
    margin-left: 250px;
}

.likes-content h2{
    font-family: Suisse Intl Bold;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff; 
    margin: 10px;
}

.likes-content p{
    color: #fff;
    width: 450px;
    margin: 10px;

}

.btn{
    cursor: pointer;
    background-color: rgb(36, 49, 97);
    color: #fff;
    padding: 10px 20px;
    border: 1px solid rgb(36, 49, 97);
    margin: 10px;
    transition-duration: .1s;
    max-width: 15rem;
}

.btn:hover{
    color: rgb(36, 49, 97);
    background-color: #fff;
    border: 1px solid rgb(36, 49, 97);
}

.btn-invert{
    cursor: pointer;
    background-color: #fff;
    color: rgb(36, 49, 97);
    padding: 10px 20px;
    border: 1px solid rgb(36, 49, 97);
    margin: 10px;
    transition-duration: .1s;
    width: 250px;
}

.container-1 hr{ 
    width: 999px;
    display: grid;
    margin: 0 auto;
}

.container-1{
    margin-bottom: 52px;
}

.container{
    padding: 3.5rem 3.5rem 10px 3.5rem;
    margin: 10px 10px 0 10px;
}

.btn-invert:hover{
    color: #fff;
    background-color: rgb(36, 49, 97);
    border: 1px solid #fff;
}
 
.div-span{
    margin: 0 auto;
    padding: 20px;
    width: 500px;
    text-align: center;
}

.div-span span{
    font-size: 30px;
    font-weight: 300;
    color: #484444;
    letter-spacing: 2px;
}

 
.container ul li{
    text-decoration: solid;
    list-style: disc;
    margin: 0 auto;
    width: 450px;
    text-align: left;
    padding: 10px;
    font-size: 15px;
}

.div-span-p{
    font-weight: bold;
    color: #484444; 
    width: 600px;
    margin: 0 auto;
    
}

.div-span-p p{
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido{    
    display: flex;
    width: 100%;
    height: 600px;
}



.slider-content-img{   
    background-image: url(./img/AND3-CO-MGP-CNJ-FOTO_156_DIC_2022-E2_V011.jpg); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    width: 50%;
}
 

.servicios{  
    width: 50%;
    height: auto;
    display: block;
    place-content: center;
    margin: 0 auto;
}

.servicios{
    margin: 20px;
    display: grid;
    place-content: center;
    height: 100%;
    border-bottom: 1px solid rgba(36, 49, 97, .1);
}

.servicios .servicios-h2{
    color: rgb(36, 49, 97); 
    letter-spacing: normal;     
    text-align: center;
    line-height: normal;
    font-size: 30px;
    padding: 10px;
    
}

.servicios-div-h2{
    width: 440px;
    max-height: 250px;
    font-weight: 100 ;
}

.servicios-div-h2 h2{
    color: #414141;
    letter-spacing: .05em;
    line-height: 1.8em;
    font-size: 15px;
    text-align: left; 
    font-weight: 100;
}

ul li {
    text-decoration: solid;
    list-style: disc;
}

.servicios span{
    letter-spacing: .2em;
    font-weight: bold;
    font-size: 16px;
    line-height: normal;
    color: #414141;
    width: 500px;
}

.services{
   margin: 20px;
}


/*CARRUSEL*/

.carousel{
    background-color: #edeaea;
    padding: 120px; 
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.slider {
    width: 80%;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: none;
    width: 400px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
}

.prev-btn:hover {
    background-color: #555;
}
 
/*SECTION ATTACH*/
.section-tanks{
    height: 600px;
    display: grid;
    place-content: center;
    padding: 20px;
    font-family: sans-serif;
     margin: 0 auto;
    
}

.section-tanks{
    text-align: left;
}

.section-text span{
    color: #243161; 
    font-size: 26px;
    line-height: normal;
    font-weight: bold;
    padding: 10px;
}

.section-tanks p{
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    padding: 10px;
    width: 700px;
}

.section-tanks h4 span{
    text-transform: uppercase;
}

.section-tanks h5{
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    padding: 10px;
}

footer{
    color: #fff;
    background-color: rgb(36, 49, 97);
    height: 17.5rem;   
}

.footer-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px 10px 50px;
}

.footer-h4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
 
.footer-redes{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 10px;
}

.redes{
    margin: 5px; 
}

.redes1 img { 
    width: 40px;
    height: auto;
}

.redes2 img{ 
    width: 40px;
    height: auto;
}

.redes3 img{ 
    width: 40px;
    height: auto;
}

 